<div class="eat-burger">
    <span class="label">#{{id}}</span>
    <span class="label">{{burger_name}}</span>
    <button data-id="{{id}}" data-newdevour="{{devour}}" class="eat-btn">Eat-da-burger</button>
</div>